<div>
  <h3>Le formulaire</h3>
  <form [formGroup]="angularForm">
    <div>
      <label class="center-block">Nom :</label>
      <input type="text" formControlName="nom" [ngClass]="{'form-control': true,
                                                            'is-invalid' : nomInvalide()}"/>
    </div>
    problemeValidation -> angularForm.pristine = {{angularForm.pristine}}
    <div *ngIf="nomInvalide()" class="alert alert-danger">
      Le nom est obligatoire
    </div>
    <div>
      <label class="center-block">Prénom :</label>
      <input type="text" formControlName="prenom" [ngClass]="{'form-control': true,                                                 'is-invalid' : prenomInvalide()}"/>
    </div>
    problemeValidation -> angularForm.invalid = {{angularForm.invalid}}
    <div *ngIf="prenomInvalide()" class="alert alert-danger">
      Le prénom est obligatoire et doit comporter au moins 5 caractères
    </div>


    <button type="submit" class="btn-success" (click)="onEnregistrer()" [disabled]="problemeValidation()">Enregistrer</button>
  </form>

</div>
