<div class="container-fluid mx-auto col-md-6">
  <app-en-tete [nomApp]="title"></app-en-tete>
  <div class="bg-primary-subtle card mb-4">
    <h1 class="card-title text-bg-info">Liaison unidirectionnelle</h1>
    <div class="card-title bg-info p-1 text m-2 rounded">COMPOSANT -----> TEMPLATE HTML
      <div class="card m-2 bg-info-subtle p-1">
        <h3 class="card-subtitle mb-2 text-muted">Interpolation</h3>
        <h4 class="card-subtitle text-primary fw-lighter">Affiche sur le template la valeur d'une variable du
          composant</h4>
        <p class="m-1">Syntaxe : <span class="bg-danger-subtle rounded p-1"> {{'{{'}}<span
          class="fw-bolder text-primary">variable</span>}}</span>
        </p>
        <p class="m-1">Exemple : &lt;p&gt; Le titre de mon application est : <span
          class="bg-danger-subtle rounded p-1"> {{'{{'}}<span
          class="fw-bolder text-primary">title</span>}}</span>&lt;/p&gt; </p>
        <pre class="text-success fw-bolder bg-dark-subtle rounded">
  export class monComposant {{'{'}}
          title :string = 'demo-angular';
          {{'}'}}
          </pre>
        <p class="m-1">Rendu : Le titre de mon application est : <span
          class="text-primary">{{title}}</span></p>
      </div>
      <div class="card m-2 bg-info-subtle p-1">
        <h3 class="card-subtitle mb-2 text-muted">Property Binding</h3>
        <h4 class="card-subtitle text-primary fw-lighter">Lit la valeur d'une variable du composant et l'ajoute en tant
          que valeur de propriété sur un élément HTML</h4>
        <p class="m-1">Syntaxe : <span class="bg-danger-subtle rounded p-1"> [ <span class="fw-bolder text-primary">propriete</span> ] = "<span
          class="fw-bolder text-primary">variable</span>"</span>
        <p class="m-1">Exemple : &lt;input type="text" <span class="bg-danger-subtle rounded p-1">[<span
          class="fw-bolder text-primary">value</span>]="<span class="fw-bolder text-primary">valeurInput</span>"</span>/>
        <pre class="text-success fw-bolder bg-dark-subtle rounded">
  export class monComposant {{'{'}}
          title :string = 'demo-angular';
          valeurInput : string = 'une valeur venant du composant';
          {{'}'}}
          </pre>
        <div class="m-1 col-12">
          <label class="col-6" for="inputValeur"> Rendu (input disabled):</label>
          <input id="inputValeur" type="text" class="form-control" [value]="valeurInput" disabled/>
        </div>
        Le value de l'input est
        automatiquement rempli avec la valeur de "valeurInput"
        du composant.
      </div>
    </div>
    <div class="card-title bg-info p-1 text m-2 rounded">TEMPLATE HTML -----> COMPOSANT
      <div class="card m-2 bg-info-subtle p-1">
        <h3 class="card-subtitle mb-2 text-muted">Event Binding</h3>
        <h4 class="card-subtitle text-primary fw-lighter">Envoie des données au composant depuis un évènement sur le
          template</h4>
        <p class="m-1">Syntaxe : <span class="bg-danger-subtle rounded p-1"> {{'('}}<span
          class="fw-bolder text-primary">evenement</span>) = "<span
          class="fw-bolder text-primary">methode</span>"</span>
        </p>
        <p class="m-1">Exemple : &lt;button <span class="bg-danger-subtle rounded p-1">{{'('}}<span
          class="fw-bolder text-primary">click</span>)="<span
          class="fw-bolder text-primary">onclickButton()</span>"</span>>Afficher infos&lt;/button&gt;
        </p>
        <pre class="text-success fw-bolder bg-dark-subtle rounded">
  export class monComposant {{'{'}}
            title :string = 'demo-angular';
            valeurInput : string = 'une valeur venant du composant';
            info :string = '';
            onclickButton() :void {{'{'}}
              if(this.info == ''){{'{'}}
                this.info = 'Une information très intéressante';
              }else {{'{'}}
                this.info = '';
              }
            }
          {{'}'}}
          </pre>
        <p class="m-1">Rendu :</p>
        <button (click)="onclickButton()" class="btn btn-primary">Afficher infos</button>
        <span class="badge bg-primary m-2 col-4 mx-auto">{{info}}</span>
      </div>
    </div>
  </div>

  <div class="bg-primary-subtle card mb-4">
    <h1 class="card-title text-bg-info">Liaison bidirectionnelle</h1>
    <div class="card-title bg-info p-1 text m-2 rounded">COMPOSANT <-----> TEMPLATE HTML
      <div class="card m-2 bg-info-subtle p-1">
        <h3 class="card-subtitle mb-2 text-muted">Two-ways-binding</h3>
        <h4 class="card-subtitle text-primary fw-lighter">Affiche et modifie dynamiquement la valeur de la variable du
          composant</h4>
        <p class="m-1">Syntaxe : <span class="bg-danger-subtle rounded p-1"> {{'[('}}<span
          class="fw-bolder text-primary">ngModel</span>)] = "<span
          class="fw-bolder text-primary">variable</span>"</span>
          et <span class="bg-danger-subtle rounded p-1">{{'{{'}}<span
            class="fw-bolder text-primary">variable</span>}}</span> pour l'affichage
        </p>
        <p class="m-1">
          Exemple : &lt;input type="text" <span class="bg-danger-subtle rounded p-1">{{'[('}}<span
          class="fw-bolder text-primary">ngModel</span>)]="<span
          class="fw-bolder text-primary">zoneSaisie</span>"/></span>
          &lt;p&gt; <span class="bg-danger-subtle rounded p-1">{{'{{'}}<span
          class="fw-bolder text-primary">zoneSaisie</span>}}</span> &lt;/p&gt;
        </p>
        <pre class="text-success fw-bolder bg-dark-subtle rounded">
  export class monComposant {{'{'}}
          title :string = 'demo-angular';
            valeurInput : string = 'une valeur venant du composant';
            zoneSaisie : string ='Saisissez votre nom';
            onclickButton() :void {{'{'}}
          if(this.info == ''){{'{'}}
          this.info = 'Une information très intéressante';
              }else {{'{'}}
          this.info = '';
            }
          {{'}'}}
          </pre>
        <p class="m-1">
          Rendu : {{zoneSaisie}}
        </p>
          <input type="text" class="form-control" [(ngModel)]="zoneSaisie"/>
      </div>
    </div>
    </div>



    <div class="bg-primary-subtle card mb-4">
      <h1 class="card-title text-bg-info">Les directives</h1>
      <div class="card-title bg-info p-1 text m-2 rounded">
        STRUCTURAL DIRECTIVES
        <div class="card m-2 bg-info-subtle p-1">
          <h3 class="card-subtitle mb-2 text-danger">ngIf</h3>
          <h4 class="card-subtitle text-primary fw-lighter">Ajoute ou retire conditionnellement un élément au DOM</h4>
          <p class="m-1">Syntaxe : <span class="bg-danger-subtle rounded p-1"><span
            class="fw-bolder text-primary"> {{'*'}}ngIf</span> = "<span
            class="fw-bolder text-primary">condition</span>"</span>

          </p>
          <p class="m-1">
            Exemple : &lt;p<span class="bg-danger-subtle rounded p-1"><span
            class="fw-bolder text-primary">*ngIf</span>="<span
            class="fw-bolder text-primary">isTrue</span>"></span>Texte conditionnel
            &lt;/p&gt; <br/>et le bouton &lt;button <span class="bg-danger-subtle rounded p-1">(<span
            class="fw-bolder text-primary">click</span>)="<span
            class="fw-bolder text-primary">toggleView()</span>"</span>><span class="text-bg-warning rounded">{{'{{'}}isTrue ? 'Cacher' : 'Afficher'}}</span>&lt;/button><br/>
            <span class="text-bg-warning rounded">Affichable conditionnel avec ternaire (le nom du bouton change en fonction de la valeur de isTrue)</span>
          </p>
          <pre class="text-success fw-bolder bg-dark-subtle rounded">
  export class monComposant {{'{'}}
            title :string = 'demo-angular';
            isTrue : boolean = false;
            toggleView() : void {{'{'}}
              this.isTrue = !this.isTrue;
            }
          {{'}'}}
          </pre>
          <p class="m-1">Rendu :
          <span *ngIf="isTrue">
            Texte conditionnel
          </span>
            <button class="btn btn-primary" (click)="toggleView()">{{isTrue ? 'Cacher' : 'Afficher'}}</button>
          </p>
        </div>
        <div class="card m-2 bg-info-subtle p-1">
          <h3 class="card-subtitle mb-2 text-danger">ngFor</h3>
          <h4 class="card-subtitle text-primary fw-lighter">Permet d'itérer sur les éléments d'une liste dans le DOM et d'ajouter des éléments HTML pour chaque itération</h4>
          <p class="m-1">Syntaxe : <span class="bg-danger-subtle rounded p-1"><span
            class="fw-bolder text-primary"> {{'*'}}ngFor</span> = "<span
            class="fw-bolder text-primary">let item of list</span>"</span>

          </p>
          <p class="m-1">
            Exemple :<br/> &lt;ul&gt; <br/>&lt;li<span class="bg-danger-subtle rounded p-1"><span
            class="fw-bolder text-primary">*ngFor</span>="<span
            class="fw-bolder text-primary">let info of informations</span>"></span><span class="bg-danger-subtle rounded p-1">{{'{{'}}<span
            class="fw-bolder text-primary">info</span>}}</span>
            &lt;/li&gt;<br/>
            &lt;/ul>
          </p>
          <pre class="text-success fw-bolder bg-dark-subtle rounded">
  export class monComposant {{'{'}}
            title :string = 'demo-angular';
            isTrue : boolean = false;
            informations: string[] = [
              'Vive les pommes de terre',
              'J\'adore  les patates'
            ];
            toggleView() : void {{'{'}}
              this.isTrue = !this.isTrue;
            }

          {{'}'}}
          </pre>
          <div class="m-1">Rendu :
            <ul>
                <li *ngFor="let info of informations">{{info}}</li>
            </ul>
          </div>
        </div>
        <div class="card m-2 bg-info-subtle p-1">
          <h3 class="card-subtitle mb-2 text-danger">ngSwitch</h3>
          <h4 class="card-subtitle text-primary fw-lighter">Affichage conditionné à un test switch</h4>
          <p class="m-1">Syntaxe : <span class="bg-danger-subtle rounded p-1">{{'['}}<span
            class="fw-bolder text-primary">ngSwitch</span>] = "<span
            class="fw-bolder text-primary">variableATester</span>"</span><br/> et pour chaque case : <span
            class="fw-bolder text-primary">*ngSwitchCase</span>="'<span
            class="fw-bolder text-primary">valeur</span>'" + case par défaut : <span
            class="fw-bolder text-primary">*ngSwitchDefault</span>

          </p>
          <p class="m-1">
            Exemple : <br/>&lt;div<span class="bg-danger-subtle rounded p-1">[<span
            class="fw-bolder text-primary">ngSwitch</span>]="<span
            class="fw-bolder text-primary">jour</span>"></span><br/>
            &lt;h1 <span
            class="fw-bolder text-primary">*ngSwitchCase</span>="'<span
            class="fw-bolder text-primary">vendredi</span>'">Super c'est la fin de la semaine !&lt;/h1><br/>
            &lt;h1 <span
            class="fw-bolder text-primary">*ngSwitchCase</span>="'<span
            class="fw-bolder text-primary">lundi</span>'">Le week-end est encore tellement loin...&lt;/h1><br/>
            &lt;h1 <span
            class="fw-bolder text-primary">*ngSwitchDefault</span>>Demain est un autre jour !&lt;/h1><br/>
            &lt;/div>
          </p>
          <pre class="text-success fw-bolder bg-dark-subtle rounded">
 export class monComposant {{'{'}}
            title :string = 'demo-angular';
            isTrue : boolean = false;
            informations: string[] = [
              'Vive les pommes de terre',
              'J\'adore  les patates'
            ];
            jour: string = 'vendredi';
            changeDay() :void {{'{'}}
                let randNum = Math.floor(Math.random()*11);
                if(randNum !== 10) {{'{'}}
                  if (this.jour === 'vendredi') {{'{'}}
                        this.jour = 'lundi';
                  } else {{'{'}}
                        this.jour = 'vendredi';
                  }
                }else {{'{'}}
                  this.jour = '???';
                }
            }
            toggleView() : void {{'{'}}
              this.isTrue = !this.isTrue;
            }

        {{'}'}}
          </pre>
          <p class="m-1">Rendu :</p>
          <div [ngSwitch]="jour">
            Jour de la semaine : {{jour}}
          <h5 class="fw-lighter col-lg-10" *ngSwitchCase="'vendredi'">Super c'est la fin de la semaine !</h5>
          <h5 class="fw-lighter col-lg-10" *ngSwitchCase="'lundi'">Le week-end est encore tellement loin...</h5>
          <h5 class="fw-lighter col-lg-10" *ngSwitchDefault>Demain est un autre jour !</h5>
          </div>
          <button (click)="changeDay()">Voyager dans le temps</button>
        </div>
      </div>
      <div class="card-title bg-info p-1 text m-2 rounded">
        ATTRIBUTE DIRECTIVES
        <div class="card m-2 bg-info-subtle p-1">
          <h3 class="card-subtitle mb-2 text-muted">ngIf</h3>
          <h4 class="card-subtitle text-info">Ajoute ou retire conditionnellement un élément au DOM</h4>
          <div  [ngClass]="classesAAppliquer" *ngIf="informations && informations.length>0">
            <ul>
              <li *ngFor="let info of informations">{{info}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <app-pied-de-page [nomApp]="title"></app-pied-de-page>
</div>
